html,
body,
#form-container {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
}
#form-container {
  margin-top: 1em;
  display: inline-block;
  min-width: 80%;
}
#form-container > *,
#form-container input {
  margin: 0.5em 0;
  padding: 0;
}
#form-container label {
  font-style: italic;
  font-weight: bold;
}
#form-container input,
#form-container button {
  padding: 0.5rem;
  text-align: center;
}
#form-container input {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
#form-container button {
  display: inline-block;
}
